.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
/airflow/dags/__pycache__
/airflow/dags/*.pyc
/airflow/dags/*.pyo
/airflow/dags/*.pyd
/airflow/dags/__init__.py
/airflow/dags/*.db
/airflow/dags/*.sqlite3
/airflow/dags/lead_scoring_inference_pipeline/__pycache__
/airflow/dags/lead_scoring_inference_pipeline/*.pyc
/airflow/dags/lead_scoring_inference_pipeline/*.pyo
/airflow/dags/lead_scoring_inference_pipeline/*.pyd
/airflow/dags/lead_scoring_inference_pipeline/__init__.py
/airflow/dags/lead_scoring_inference_pipeline/*.db
/airflow/dags/lead_scoring_inference_pipeline/*.sqlite3 
/airflow/logs/*
/predictions/*.csv